
* {
  margin: 0;
  padding: 0;  
}

#warm {
  background-image: url("assets/warm.jpg");  
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;
}

#cold {
  background-image: url("assets/cold.jpg");  
  background-position: center;  
  background-size: cover;
  background-repeat: no-repeat;  
}

main {
  height: 100vh;
  width: 100%;    
  text-align: center;
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));    
}

main input {
  width: 300px;
  padding: 1rem 1rem;
  border: rgba(0, 0, 0, 0.2);
  border-radius: 10px;  
  margin-top: -10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
}

main .results {
  margin-top: 5rem;
}

main .results .location {  
  font-size: 1.8rem;
  font-weight: bold;
  color: #FFF;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);  
}

main .results .date {
  font-size: 1.1rem;
  font-style: italic;
  color: #FFF;  
  opacity: .8;
}

main .results .weather-container {
  width: 300px;
  height: 6rem;
  background-color: rgba(50, 50, 70, 0.5);
  border-radius: 10px;
  margin: 2rem auto 0 auto;
  color: #FFF;
  font-size: 2.5rem;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

main .results .temperature {
  font-size: 4rem;    
}

main .results .weather {
  color: #FFF;
  font-size: 2.5rem;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding: 1rem 0;
}
